/fla/bin-debug/quest.swf
/psd/Комната.psd
/audio/фрагменты/кусочки
/audio/мама ищет.mp3
/audio/Звуки/ключи.aac
/audio/Звуки/стул.aac
/audio/Звуки/шторы.aac
/audio/Звуки/адаптер.aac
/audio/Звуки/перелистывание.aac
/audio/Звуки/mp3
