body {
	margin:0;
	background: #333;
}

.wrapper {
	width: 1013px;
	height: 753px;
	margin: 0 auto;
	font: bold 40px/40px Verdana;
	text-align: center;
}

#quest {
	width:1013px;
	height:753px;
	background: url('../i/throbber.gif') center center no-repeat;
}